<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">App</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/">main</a>
      </li>
      <li>
        <a routerLink="/setup">settings</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="/">main</a>
  </li>
  <li>
    <a routerLink="/setup">settings</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
